################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BookStoreMvcCoreWebApp/.vs/BookStoreMvcCoreWebApp/v16
/BookStoreMvcCoreWebApp/BookStoreMvcCoreWebApp/obj
/BookStoreMvcCoreWebApp/BookStoreMvcCoreWebApp/wwwroot/lib
