
@{
    ViewData["Title"] = "Index";
}
<link href="~/css/MyStyle.css" rel="stylesheet" />


<img class="logo" src="~/images/logo.jpg" />
<br />

<h1>Welcome To Book Store</h1>

<br />
<br />
<img class="logo" src="~/MyStaticFiles/Lamb.jpg" />
